<% provide(:title, 'Home Page') %>
<div class="hero-unit">
	<h1>Welcome</h1>
	
	<%= render 'shared/new_item_link' %>
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">
		    	<%= @categories.first.title%></a></li>
		    <% @categories.slice(1..@categories.size).each do |category|%>
		    	<li><a href='#tab<%=category.id%>' data-toggle="tab"><%= category.title %></a></li>
		    <% end %>
	    </ul>
	    <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		    	<%= link_to @categories.first.title+" page", @categories.first %><br/>
		    	<%= render 'shared/item_list', :cat_id => @categories.first.id %>
		    </div>
		    <% @categories.slice(1..@categories.size).each do |category|%>
		    	<div class="tab-pane" id="tab<%=category.id%>">
		    		<%= link_to category.title+" page", category %><br/>
		    		<%= render 'shared/item_list', cat_id: category.id%>
		    	</div>
		    <% end %>
	    </div>
    </div>
</div>