<% provide(:title, 'Home Page') %>
<div class="hero-unit">
	<h1>Welcome</h1>
	
	<%= render 'shared/new_item_link' %>
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
		    <% @categories.each_with_index do |category, index|%>
		    	<li class="<%="active" unless index>0 %>"><a href='#tab<%=category.id%>' data-toggle="tab"><%= category.title %></a></li>
		    <% end %>
	    </ul>
	    <div class="tab-content">
		    <% @categories.each_with_index do |category, index|%>
		    	<div class="tab-pane <%="active" unless index>0 %>" id="tab<%=category.id%>">
		    		<%= link_to category.title+" page", category %><br/>
		    		<%= render('shared/item_list', cat_id: category.id) unless category.items.empty?%>
		    	</div>
		    <% end %>
	    </div>
    </div>
</div>