<% provide(:title, @user.name) %>
<div class="span3">
	<h1><%= @user.name %></h1>
	<%= link_to 'Edit your Profile', edit_user_path(@user) %>
</div>
<div class="span3 favoriteForm">
	<h3>Pick Your Favorite Categories!</h3>
	<%= form_tag('/updateFavorites', method: :put) do %>
		<% @categories.each do |category| %>
			<%= check_box_tag('category[]', category.id , hasInFavorites(category)) %> <%= category.title %><br/>
		<% end %>
		<br/>
		<%= submit_tag "Update Favorites", class: "btn btn-large btn-primary" %>
	<% end %>
</div>