<% if cat_id.nil? %>
	<% Item.where(category_id: cat_id).each do |item| %>
		<div class="span3 item">
			<h2><%=link_to item.name, item %></h2>
			Rate! <%= rating_for item, "name" %>
			<%= link_to "Review this", new_item_review_path(item.id) %>
		</div>
	<% end %>
<% else %>
	<% Item.all.each do |item| %>
		<div class="span3 item">
			<h2><%=link_to item.name, item %></h2>
			Rate! <%= rating_for item, "name" %>
			<%= link_to "Review this", new_item_review_path(item.id) %>
		</div>
	<% end %>
<% end %>