<% items=Item.all %>
<% items=Item.where(category_id: cat_id) unless cat_id.nil? %>
<% sortedItems=items %>
<% if noUnratedItems(items) %>
	<% sortedItems=items.sort_by {|i| -(i.average("name")).avg()}%>
<% end %>
<% sortedItems.each_with_index do |item, index| %>
	<% if index>11&&cat_id%>
		<% break %>
	<% end %>
	<div class="span3 item item<%=item.id%>">
		<h2><%=link_to item.name, item %></h2>
		<%= link_to item.category.title, item.category %> |<%= link_to("Delete", item, method: :delete, :remote=> true, :format => :js, data: {confirm: 'Are you sure?'}) unless cannot? :destroy, Item %><br/>
		Rate!
		<%= rating_for item, "name", options: :disable_after_rate %>
		<% if can? :create, Review %>
			<%= link_to("Review this", new_item_review_path(item.id)) unless Review.where(user_id: current_user.id, item_id: item.id).exists? %>
		<% end %>
	</div>
<% end %>