<div class="span4">
	<% if :category_id.nil? %>
		<% Item.find_by_category_id(:category_id).each do |item| %>
			<h2><%= item.name %></h2></br>
			<h5><%= item.avg_rating %></h5></br>
		<% end %>
	<% else %>
		<% Item.find_each do |item| %>
			<div class="row">
				<div class="span4 offset<%=6%>" >
					<%= item.name %>
					<%= item.avg_rating %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>