<% provide(:title, 'Create Item') %>

<h1>Create An Item!</h1>
<div class="row">
	<div class="span6 offset3">
		<% if signed_in? %>
			<%=form_for(@item) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>

				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :category %>
				<%= f.collection_select :category_id, Category.all, :id, :title %>

				<%= f.submit "Create item", class: "btn btn-large btn-primary" %>
			<% end %>
		<% else %>
			Please Sign In!
		<% end %>
	</div>
</div>